/* div#background {
  width: 1200px;
  height: 800px;
  background-image: url("assets/background.png");
  position: absolute;
}

div#hero {
  width: 50px;
  height: 50px;
  background-image: url("assets/hero.png");
  position: absolute;
  left: 575px;
  top: 700px;
}

#missiles {
  width: 1200px;
  height: 800px;
  position: absolute;
}

div.missile1 {
  width: 10px;
  height: 28px;
  background-image: url("assets/missile1.png");
  position: absolute;
}

div#enemies {
  width: 1200px;
  height: 800px;
  position: absolute;
}

div.enemy {
  width: 50px;
  height: 50px;
  background-image: url("assets/enemy.png");
  position: absolute;
  top: 100px;
  left: 550px;
}

.missile {
  background-image: url("assets/missile1.png");
  height: 16px;
  width: 10px;
  position: absolute;
} */
body, html{
  background-color: plum;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast
}
